.vscode

debian/
# Build
build/
dist/

# Debian (.deb)

*.substvars
/debian/vot-cli
/debian/files

*.tmp
*.mp3

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache